@import "variable";
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
figure,
ol,
ul {
    margin: 0px !important;
    padding: 0px !important;
}
ul {
    list-style: none;
}
a {
    text-decoration: none !important;
    color: inherit !important;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
    background-color: #f5f5f5 !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 !important;
}
h5 {
    font-weight: 400;
    font-size: 22px !important;
    line-height: 26px !important;
    @media (max-width: 767px) {
        font-size: 20px !important;
        line-height: 24px !important;
    }
}
h2 {
    font-weight: 400;
    font-size: 36px !important;
    line-height: 42px !important;
    color: $secondary-color;
    margin: 0px !important;
    @media (max-width: 767px) {
        font-size: 30px !important;
        line-height: 31px !important;
    }
    @media (max-width: 480px) {
        font-size: 25px !important;
        line-height: 27px !important;
    }
}

p {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    text-align: justify;
    color: $black-color;
}
.page-title {
    margin-bottom: 30px;
    @media (max-width: 767px) {
        margin-bottom: 20px;
    }
    span {
        font-weight: 500 !important;
        font-size: 24px !important;
        line-height: 30px !important;
        color: #000000;
        text-transform: uppercase;
        padding-bottom: 10px;
        border-bottom: 1px solid #c8c8c8;
    }
    .main-heading {
        font-weight: 500 !important;
        font-size: 26px !important;
        line-height: 30px !important;
        color: #000000;
        text-transform: uppercase;
        padding-bottom: 10px;
        border-bottom: 1px solid #c8c8c8;
        @media (max-width: 767px) {
            padding-bottom: 0px !important;
            font-size: 22px !important;
            line-height: 26px !important;
        }
    }
}

.heading {
    padding-bottom: 20px;
    @media (max-width: 480px) {
        padding-bottom: 10px !important;
    }
    h2,
    h1 {
        text-transform: uppercase;
        width: max-content;
        position: relative;
        color: $secondary-color;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -3px;
            width: 50%;
            height: 2px;
            background-color: $secondary-color;
        }
    }
}
.button {
    a {
        color: white !important;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: $secondary-color;
        transition: all 0.3s linear;
        @media (max-width: 480px) {
            padding: 10px 15px;
        }
        &:hover {
            background-color: $primary-color;
            color: white !important;
        }
    }
}
.custom-margin {
    margin-top: 60px;
    @media (max-width: 767px) {
        margin-top: 40px;
    }
    @media (max-width: 480px) {
        margin-top: 30px;
    }
}
.slick-slider {
    .slick-next,
    .slick-prev {
        border: none;
        background-color: transparent;
        position: absolute;
    }
}
.product-slider {
    margin-top: 30px !important;
    @media (max-width: 767px) {
        margin-top: 20px !important;
    }
    @media (max-width: 48px) {
        margin-top: 0px !important;
    }
    .slick-arrow {
        z-index: 1;
        border: 1px solid black;
        transform: translate(0, -50%);
        border-radius: 50%;
        height: 40px;
        width: 40px;
        bottom: -80px;
    }
    .slick-prev {
        right: 65px;
    }
    .slick-next {
        right: 14px;
    }
}
.breadcrumb-section {
    background-color: #dedede;
    .breadcrumb {
        margin-bottom: 0 !important;
        .breadcrumb-item {
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: #000000;
        }
    }
}
.submit-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    button {
        background-color: $secondary-color;
        color: white;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        padding: 10px;
        border: none;
        transition: background-color 0.3s linear;
        width: 200px;
        &:hover {
            background-color: $primary-color;
        }
    }
}
input,
select,
textarea {
    width: 100%;
    border: 1px solid #c8c8c8;

    &:focus-visible {
        outline: 1px solid $primary-color !important;
    }
}
input[type="checkbox"],
input[type="radio"] {
    width: fit-content !important;
}
select,
input {
    margin-top: 2px;
    padding: 7px !important;
}

.tooltip {
    .tooltip-inner {
        color: white;
        background-color: $primary-color;
    }
}
.tooltip.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: $primary-color;
}
#product-main-images {
    .picZoomer-pic-wp {
        height: 100% !important;
        width: 100% !important;
        img {
            height: 100%;
            width: 100%;
            object-fit: scale-down;
        }
    }
    .picZoomer-zoom-wp {
        position: absolute;
        top: -20px !important;
        left: 528px !important;
        z-index: 1 !important;
        border: 1px solid rgba(0, 0, 0, 0.5);
        height: 429px !important;
        width: 100% !important;
        padding: 20px !important;
        background: white;
        @media (max-width: 1399px) {
            left: 454px !important;
        }
        @media (max-width: 1199px) {
            left: 378px !important;
        }
        @media (max-width: 991px) {
            left: 338px !important;
        }
        @media (max-width: 767px) {
            display: none !important;
        }
    }
}
.blog-card {
    background: rgba(27, 100, 153, 0.1);
    .card-heading {
        figure {
            width: 100%;
            height: 250px;
            margin: 0px !important;
            overflow: hidden;
            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .card-body {
        padding: 0px !important ;
        .date-heading {
            display: flex;
            align-items: center;
            .date {
                padding: 10px;
                background-color: $secondary-color;
                color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                span {
                    font-weight: 600;
                    text-transform: uppercase;
                }
                .month {
                    font-size: 12px;
                    line-height: 14px;
                }
            }
            .blog-title-wrapper {
                padding-left: 10px;
                height: 53px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .blog-tittle {
                    color: #212529 ;
                    font-weight: 500 !important;
                    font-size: 18px !important;
                    line-height: 21px !important;
                    margin: 0px !important;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    padding-bottom: 0px !important;
                }
            }
        }
        .blog-content {
            padding: 10px;
            height: 107px;
            p {
                margin: 0px !important;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
      
    }
    &:hover {
        .date-heading {
            .blog-title-wrapper {
                .blog-tittle {
                    color: $secondary-color !important;
                }
            }
        }
    }
}
.new-pages-content {
    h1 {
        font-size: 20px !important;
        line-height: 30px !important;
      }
      h2 {
        font-size: 18px !important;
        line-height: 26px !important;
      }
      h3 {
        font-size: 16px !important;
        line-height: 24px !important;
      }
      h4 {
        font-size: 24px !important;
        line-height: 22px !important;
      }
      h5 {
        font-size: 12px !important;
        line-height: 20px !important;
      }
      h6 {
        font-size: 10px !important;
        line-height: 18px !important;
      }
    p {
        img {
            margin: 20px 0px;
            width: 100%;
        }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $secondary-color;
        margin-top: 20px !important;
        font-weight: 600 !important;
        padding-bottom: 10px !important;
    }
    ol {
        margin: 10px 18px !important;
        li {
            padding: 5px 0px;
            &::marker {
                color: $secondary-color;
                font-weight: 700;
            }
        }
    }
    ul {
        margin: 10px 0px !important;

        li {
            padding: 5px 0px;

            display: flex;
            &::before {
                content: "\f111";
                font-family: "Font Awesome 5 free";
                font-weight: 900;
                font-size: 12px;
                padding-right: 10px;
                line-height: 25px;
                color: $secondary-color;
            }
        }
    }
    blockquote {
        margin: 40px 0px 40px 0px;
        padding: 10px 20px 10px 30px;
        border-left: 3px solid $secondary-color;
        background: rgba(27, 100, 153, 0.1);
        p {
            font-style: italic;
            color: #000000;
            font-size: 18px !important;
            line-height: 26px !important;
            font-weight: 400 !important;
            position: relative;
        }
    }
}
.loadder-dim {
    position: fixed;
    z-index: 995;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &::after {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        content: "";
        height: 100%;
        width: 100%;
        background-color: rgba(65, 61, 61, 0.274);
    }
}
#orderItemsModel {
    z-index: 999999 !important;
    background-color: rgba(43, 39, 39, 0.082);
    .modal-dialog {
        .modal-content {
            width: 100%;
            .modal-header {
                border-bottom: none !important;
                .btn-close {
                    width: fit-content !important;
                    background-color: $secondary-color;
                    color: white;
                    padding: 5px 10px;
                    border-radius: 5px;
                    text-transform: uppercase;
                    background-image: none !important;
                    height: fit-content !important;
                    opacity: 1 !important;
                    font-size: 14px;
                    font-weight: 500;
                    white-space: nowrap;
                    margin-left: 20px;
                    margin-right: 0px !important;
                }
            }
            .modal-body {
                width: 100%;
                overflow-x: auto;

                background-color: #fff;
                &::-webkit-scrollbar {
                    height: 8px !important;
                }

                &::-webkit-scrollbar-track {
                    background-color: $secondary-color;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: $primary-color;
                }
                a {
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }
}
.ratings,
.rating {
    .fas {
        color: #ff5200 !important;
    }
}
.pagination {
    margin-top: 30px !important;
    justify-content: flex-end !important;
    .page-item {
        margin-left: 10px !important;
        &:first-child {
            margin-left: 0px !important;
        }
        .page-link {
            border: 1px solid $secondary-color !important;
            font-family: "Work Sans";
            font-weight: 500;
            font-size: 18px;
            line-height: 140%;
            &:hover {
                background-color: $secondary-color !important;
                border: 1px solid $secondary-color !important;
                color: white !important;
            }
            &:focus {
                z-index: 3;
                background-color: transparent !important;
                outline: 0;
                color: black !important;
                box-shadow: none !important;
            }
        }
    }
    .active {
        .page-link {
            background-color: $secondary-color !important;
            border: 1px solid $secondary-color !important;
        }
    }
}
.linked-order-table {
    cursor: pointer !important;
}
.order-items-status {
    span {
        display: block;
        width: 90px !important;
        margin: 0px auto;
        padding: 2px;
        color: white;
        border-radius: 20px;
        font-size: 12px;
    }
    .delivered {
        background-color: #65c165;
    }
    .process {
        background-color: #a79f40;
    }
    .new {
        background-color: #5f7f97;
    }
    .cancel {
        background-color: #cf4e4f;
    }
}
.verify-title {
    color: $secondary-color !important;
}
